section {
  margin-top: 50px;
}

.container {
  padding-top: 20px;
  padding-bottom: 40px;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #55937F;
}

/* Consejos */

.jumbotron {
  padding-top: 80px;
}

/* Parallax (Inicio) */

#parallax1 {
  min-height: 600px;
  background: transparent;
}
#parallax2 {
  min-height: 400px;
  background: transparent;
}

#parallax1 h1 {
  padding-top: 25%;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 3px 3px rgba(0,0,0,0.75);
}
